.shop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 960px;
}

.cards {
  margin: 10px 0 0;
}

.cards>div {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards>div>a {
  max-width: 230px;
  margin: 5px 5px;
}

.shop__options {
  padding: 10px 20px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.shop__options__btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-right: 2px solid black;
  padding: 5px 5px 1px 5px;
  transition: all ease .3s;
}

.shop__options__btns:hover {
  color: olive;
  background-color: #eee;
}

.active {
  pointer-events: none;
  color: olive;
}

.shop__options--change-mode {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}

.shop__options--sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shop__options--sorting select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  padding: 3px 3px;
}

.shop__options--sorting select:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.shop__options--sorting option {
  border: transparent;
  border-radius: 0;
}

.hoverable-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  border-top: none;
  display: none;
  z-index: 5;
}

.options-list li {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.options-list li:hover {
  background-color: #f0f0f0;
}

.hoverable-select.open .options-list {
  display: block;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .cards>div {
    justify-content: center;
  }
}