.hoverable-select {
    position: relative;
    display: flex;
    justify-content: center;
}

.selected-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 8px;
    border: 2px solid black;
    border-left: 3.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

.options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -3px;
    margin-left: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 6px);
    border: 2px solid black;
    border-top: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    z-index: 0;
    display: none;
}

.options-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
}

.options-list li:hover {
    background-color: #eee;
    color: olive;
}

.hoverable-select.open .options-list {
    display: block;
}