header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  background: white;
  flex-grow: 0;
  z-index: 10;
}

.navbar__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

.navbar__item--logo {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cookie", cursive;
  font-size: 48px;
}

.navbar__item--logo a:visited {
  color: black;
}

.navbar__item--search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar__item--btns {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__item__btns--img {
  width: 32px;
  height: 32px;
}

#background {
  fill: white;
}

.navbar__item--login-btn {
  --navbar-login-btn-color: olive;
  display: inline-block;
  color: black;
  font-size: 24px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  transition: all 300ms;
}

.navbar__item--login-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--navbar-login-btn-color);
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 500ms;
}

.navbar__item--login-btn:hover::after,
.navbar__item--login-btn:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.navbar__item--login-btn:hover,
.navbar__item--login-btn:focus-visible {
  color: white;
  border-color: var(--navbar-login-btn-color);
}

.navbar__item--login-btn:active {
  color: var(--navbar-login-btn-color);
  background-color: white;
  border-color: var(--navbar-login-btn-color);
}

.navbar__item__btns--cart,
.navbar__item__btns--user {
  position: relative;
}

.navbar__item__btns--liked>a>img {
  background: none;
}

.navbar__item__btns--liked:hover {
  background-color: olive;
}

.userBox {
  width: 140px;
}

.cartBox {
  width: 300px;
}

.navbar__item__popups {
  position: absolute;
  top: 36px;
  left: 50%;
  padding: 50px 30px;
  transform: translate(-50%);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  border: 1px dotted olive;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .navbar__item--search {
    display: none;
  }
}