.filters {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.filters__menu {
  padding: 5px;
}

.filters__menu__title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px #fff solid;
  padding: 5px 10px;
  margin-bottom: 5px;
  transition: all ease .3s;
}

.filters__menu__title:hover {
  background-color: #eee;
}

.filters__menu__title:hover>.filters__menu__title__icon {
  transform: rotateX(90);
}

.filters__menu__checkboxes>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  padding: 0 5px;
  accent-color: olive;
}

.filters__menu__checkboxes--label {
  margin-bottom: 2px;
  font-size: 18px;

}

.filters__apply__btn {
  width: 100px;
  padding: 5px 10px;
  background-color: olive;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px white;
  z-index: 10;
}

.filters__menu__price--inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filters__menu__price--inputs input::-webkit-inner-spin-button,
.filters__menu__price--inputs input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filters__menu__price--inputs input {
  border: 1px solid gainsboro;
  border-radius: 2px;
  outline: none;
  padding: 10px 3px;
  margin: 0 5px;
}

@media screen and (max-width: 1220px) {
  .filters {
    display: none;
  }
}