.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid black;
}

.searchBar-btn {
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 0px 4px 4px 0px;
  padding-left: 5px;
}

.hidden {
  visibility: hidden;
}

.searchBar input {
  height: 32px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  caret-color: olive;
  font-size: 18px;
}

.searchBar input::placeholder {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.searchBar input:focus-visible::placeholder {
  color: olive;
}